* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr;
  height: 90px;
}

nav div {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  color: #FFC515
}

nav div a {
  color: inherit;
  text-decoration: none;
}

.contact__link {
  color: #FFC515
}

nav .dashboard__link {
  color: lightblue;
}

body {
  font-family: helvetica;
  background-image: url("../Images/contact.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  color: white;
}


.nav__ul ul {
  list-style-type: none;
  display: flex;
}

.nav__ul ul li {
  padding: 20px;
  font-size: 18px;
  margin: 5px;
  font-weight: 600;

}

.nav__ul ul li:hover {
  color: #FFC515;
}

.nav__logo h2 {
  font-size: 36px;
  font-weight: 600;

}

.nav__login {
  font-size: 25px;
  color: #FFC515;
}

main {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center
}

main h1 {
  font-size: 90px;
  font-weight: 600;
}

main h1:hover {
  color: #FFC515;
}



.section-con {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-con {
  min-height: 100vh;
  background-image: url(../Images/contact1.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info h2 {
  color: black;
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 67px;
}

.contact-info {
  color: black;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 20px;
}

.contact-info svg {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}


.contact-form h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hamburger {
  display: none;
}

.contact-form .text-box {
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: black;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form .send-btn:hover {
  background: #0582E3;
}

/* footeri */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background: linear-gradient(to right, #151515, #545353, #242424);
  background: linear-gradient(to bottom, #151515, #545353, #cbcbcb);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #dfe91e;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  nav {
    height: 70px;
    width: 100%;
  }

  .nav__logo h2 {
    font-size: 24px;

  }

  .nav__ul ul li {
    padding: 5px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .nav__login {
    font-size: 16px;
    font-weight: 600;
    color: #FFC515;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
  }

  .nav__ul ul {
    display: block;
  }

  nav {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    height: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    border: none;
    background-color: black;
  }

  nav .nav__logo {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    border: none;
  }

  nav .nav__ul,
  .nav__login {
    border: none
  }

  .nav__login {
    padding-left: 10px;
  }

  .hide {
    display: none;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}