* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: grid;
    grid-template-columns: 1.5fr 4fr 2fr;
    height: 90px;
}

nav div {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    color: #FFC515
}

nav div a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: helvetica;
    background-image: url("../Images/picture4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    color: white;
}


.nav__ul ul {
    list-style-type: none;
    display: flex;
}

.nav__ul ul li {
    padding: 20px;
    font-size: 18px;
    margin: 5px;
    font-weight: 600;

}

.nav__ul ul li:hover {
    color: #FFC515;
}

.nav__logo h2 {
    font-size: 36px;
    font-weight: 600;
}

.nav__login {
    font-size: 25px;
    color: #FFC515;
}

nav .home__link {
    color: #FFC515;
}
nav .dashboard__link {
    color: lightblue;
}

main {
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

main h1 {
    font-size: 90px;
    font-weight: 600
}


main h1:hover {
    color: #FFC515;
}


.slider__dots {
    text-align: center;
    font-size: 100px;
    color: #FFC515;
}

.first,
.second,
.third {
    cursor: pointer;
}





.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
}

.welcome h1 {
    font-size: 55px;
    color: black;
    margin: 20px 0;
}

.welcome__text {
    display: flex;
    color: #7e7e7e;
    font-size: 17px;
    font-weight: 600;
    gap: 10px;
}

.welcome__text div {
    text-align: center;
    padding: 20px;
    width: 310px;
}

.welcome__text div h3 {
    color: black;
    font-size: 28px;
    margin: 20px;
    font-weight: 600;
}

.testimonials {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials img {
    z-index: -1;
}

.text {
    position: absolute;
    text-align: center;
    max-width: 1000px;
    padding-top: 100px;
}

.text h1 {
    font-size: 48px;
    margin: 50px 0;
}

.thonjza {
    font-size: 45px;
    font-weight: 600;
    color: #FFC515;
}

.testimonials .review {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding: 20px 10px;
}

.testimonials .customer {
    font-size: 18px;
    font-weight: 600;
    color: #FFC515
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.service h1 {
    font-size: 55px;
    color: black;
    margin: 20px 0;
}

.service__text {
    display: flex;
    color: #7e7e7e;
    font-size: 17px;
    font-weight: 600;
    gap: 20px;
}

.service__text div {
    text-align: center;
    padding: 10px;
    width: 310px;
}

.service__text div h3 {
    color: black;
    font-size: 28px;
    margin: 20px;
    font-weight: 600;
}


.fa-solid {
    color: black;
}

.food {
    color: #d4af37;
}

.menu {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 100%;
    height: 720px;
    z-index: -1;
}

.menu__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
}

.menu__text ul {
    list-style-type: none;
}

.menu__text ul li {
    padding: 20px 0;
}

.menu__text div {
    width: 310px;
}

.menu button {
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFC515;
    margin: 50px;
}


.hamburger {
    display: none;
}


footer {
    background-color: rgb(240, 239, 239);
    color: #616161;
}

footer .footer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 20px 0;
    padding-right: 40px;
}

footer p {
    font-size: 15px;
    font-weight: 600;
}



@media (max-width: 768px) {
    nav {
        height: 70px;
        width: 100%;
    }

    .nav__logo h2 {
        font-size: 24px;

    }

    .nav__ul ul li {
        padding: 5px;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    .nav__login {
        font-size: 16px;
        font-weight: 600;
        color: #FFC515;
    }

    body {
        background-size: 1000px;
        overflow: none;
    }

    main h1 {
        font-size: 52px;
    }

    .text h1 {
        font-size: 36px;
    }

    main {
        height: 80vh;
    }

    .welcome__text {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .testimonials img {
        height: 100vh;
    }

    .text {
        padding-top: 15px;
    }

    .testimonials .review {
        padding: 10px 5px;
    }

    .service__text {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .service h1 {
        text-align: center;
        font-size: 40px;
    }

    .welcome h1 {
        font-size: 40px;
        margin: 10px 0;
    }

    .menu img {
        height: 1170px;
    }

    .menu h1 {
        font-size: 40px;
    }

    .menu__text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
    }

    .menu button {
        width: 150px;
        height: 38px;
        font-size: 16px;
        background-color: #FFC515;
        margin: 0px;
    }
    
    .hamburger{ 
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }
    .nav__ul ul {
        display: block;
    }
    nav {
        padding-top: 15px;
        display: grid;
        grid-template-columns: 1fr;
        height: 50px;
        grid-template-rows: 1fr 1fr 1fr;
        border: none;
        background-color:black;
    }
    nav .nav__logo {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        border: none;
    }
    nav .nav__ul, .nav__login {
        border: none
    }
    .nav__login {
        padding-left: 10px;
    }
    .hide {
        display: none;
    }
    .footer {
        font-size: 13px;
    }
}


