* {
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: helvetica;
    
}
.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;

}

.register img {
    margin: auto;
    width: 100%;
}

.register form input {
    width: 290px;
    height: 50px;
    border-radius: 25px;
    background-color: #e6e6e6;
    border: none;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.register h1 {
    margin-top: 30px;
    padding: 10px 20px;
}

.register__button {
    margin: 20px 0;
    width: 290px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #57b846;
}
.register__button:hover{
    cursor: pointer;
    padding-bottom: 4px;
}

.register .error {
    display: none;
    color:red;
}