* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}


.addUser {
  width: 150px;
  height: 40px;
  background-color: #FFC515;
  margin: 10px 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 7px;
}

.addUser a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 6px black;
}

button[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #FFC515;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
}

th {
  background-color: black;
  color: #FFC515;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

a.btn {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn1 {
  color: #f55050;
  background-color: #fff;
  border: 1px solid #f55050;
}

.btn1:hover {
  color: #fff;
  background-color: #f55050;
}

.btn2 {
  color: #3c84ab;
  background-color: #fff;
  border: 1px solid #3c84ab;
}

.btn2:hover {
  color: #fff;
  background-color: #3c84ab;
}
